# R Basics

This is a note for the basics of R, an awesome language for data analysis. Here are some sample data I am going to use:

* stateData.csv: It contains information of all states in US.

## Table of Content

* [Working Directory](# working-directory)

## Working Directory

Before working on any projects, you may want to set up a correct working directory. It is very simple to check the current working directory and change it.

In [1]:
getwd()

[1] "/Users/guanrongfu/GitHub/Toolkit/R"

In [2]:
setwd('..')
getwd()

[1] "/Users/guanrongfu/GitHub/Toolkit"

## Vector

Vector is one of the data types in R. It looks like Python list, but it must contain the same type of data: character (string), logical (True or False) or numeric.

`c()` is a generic function that combines arguments to form a vector.

In [10]:
number <- c(1:10)
number

 [1]  1  2  3  4  5  6  7  8  9 10

You can add value to a vector as well.

In [12]:
number <- c(number, 11:20)
number

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 11 12 13 14 15
[26] 16 17 18 19 20

You can select the value in a vector you want based on some boolean calculation, similar to Python Pandas Series.

In [13]:
name <- c('Amanda', 'Bob', 'Chris')

In [15]:
name_length = nchar(name)
name_length

[1] 6 3 5

In [16]:
name[name_length == 3]

[1] "Bob"

## DataFrame

DataFrame is a data format in R. It has rows and columns, just like Excel files. You can easily get dataframe by reading a .csv file into R. I am going to use 'stateData.csv' file for the following notes.

In [33]:
state_info = read.csv('stateData.csv')

### Overview of DataFrame

In [34]:
state_info

   X              state.abb state.area state.region population income
1  Alabama        AL         51609     2             3615      3624
2  Alaska         AK        589757     4              365      6315
3  Arizona        AZ        113909     4             2212      4530
4  Arkansas       AR         53104     2             2110      3378
5  California     CA        158693     4            21198      5114
6  Colorado       CO        104247     4             2541      4884
7  Connecticut    CT          5009     1             3100      5348
8  Delaware       DE          2057     2              579      4809
9  Florida        FL         58560     2             8277      4815
10 Georgia        GA         58876     2             4931      4091
11 Hawaii         HI          6450     4              868      4963
12 Idaho          ID         83557     4              813      4119
13 Illinois       IL         56400     3            11197      5107
14 Indiana        IN         36291     3             5313      4458
15 Iowa           IA         56290     3             2861      4628
16 Kansas         KS         82264     3             2280      4669
17 Kentucky       KY         40395     2             3387      3712
18 Louisiana      LA         48523     2             3806      3545
19 Maine          ME         33215     1             1058      3694
20 Maryland       MD         10577     2             4122      5299
21 Massachusetts  MA          8257     1             5814      4755
22 Michigan       MI         58216     3             9111      4751
23 Minnesota      MN         84068     3             3921      4675
24 Mississippi    MS         47716     2             2341      3098
25 Missouri       MO         69686     3             4767      4254
26 Montana        MT        147138     4              746      4347
27 Nebraska       NE         77227     3             1544      4508
28 Nevada         NV        110540     4              590      5149
29 New Hampshire  NH          9304     1              812      4281
30 New Jersey     NJ          7836     1             7333      5237
31 New Mexico     NM        121666     4             1144      3601
32 New York       NY         49576     1            18076      4903
33 North Carolina NC         52586     2             5441      3875
34 North Dakota   ND         70665     3              637      5087
35 Ohio           OH         41222     3            10735      4561
36 Oklahoma       OK         69919     2             2715      3983
37 Oregon         OR         96981     4             2284      4660
38 Pennsylvania   PA         45333     1            11860      4449
39 Rhode Island   RI          1214     1              931      4558
40 South Carolina SC         31055     2             2816      3635
41 South Dakota   SD         77047     3              681      4167
42 Tennessee      TN         42244     2             4173      3821
43 Texas          TX        267339     2            12237      4188
44 Utah           UT         84916     4             1203      4022
45 Vermont        VT          9609     1              472      3907
46 Virginia       VA         40815     2             4981      4701
47 Washington     WA         68192     4             3559      4864
48 West Virginia  WV         24181     2             1799      3617
49 Wisconsin      WI         56154     3             4589      4468
50 Wyoming        WY         97914     4              376      4566
   illiteracy life.exp murder highSchoolGrad frost area
1  2.1        69.05    15.1   41.3            20    50708
2  1.5        69.31    11.3   66.7           152   566432
3  1.8        70.55     7.8   58.1            15   113417
4  1.9        70.66    10.1   39.9            65    51945
5  1.1        71.71    10.3   62.6            20   156361
6  0.7        72.06     6.8   63.9           166   103766
7  1.1        72.48     3.1   56.0           139     4862
8  0.9        70.06     6.2   54.6           103     1982
9  1.3        70.66    10.7   52.6            11    54090
10 2.0        68.54    13.9   40.6            60    58073
11 1.9        73.60     6.2   61.9             0     6425
12 0.6        71.87     5.3   59.5           126    82677
13 0.9        70.14    10.3   52.6           127    55748
14 0.7        70.88     7.1   52.9           122    36097
15 0.5        72.56     2.3   59.0           140    55941
16 0.6        72.58     4.5   59.9           114    81787
17 1.6        70.10    10.6   38.5            95    39650
18 2.8        68.76    13.2   42.2            12    44930
19 0.7        70.39     2.7   54.7           161    30920
20 0.9        70.22     8.5   52.3           101     9891
21 1.1        71.83     3.3   58.5           103     7826
22 0.9        70.63    11.1   52.8           125    56817
23 0.6        72.96     2.3   57.6           160    79289
24 2.4        68.09    12.5   41.0            50    47296
25 0.8        70.69     9.3   48.8           108    68995
26 0.6        70.56     5.0   59.2           155   145587
27 0.6        72.60     2.9   59.3           139    76483
28 0.5        69.03    11.5   65.2           188   109889
29 0.7        71.23     3.3   57.6           174     9027
30 1.1        70.93     5.2   52.5           115     7521
31 2.2        70.32     9.7   55.2           120   121412
32 1.4        70.55    10.9   52.7            82    47831
33 1.8        69.21    11.1   38.5            80    48798
34 0.8        72.78     1.4   50.3           186    69273
35 0.8        70.82     7.4   53.2           124    40975
36 1.1        71.42     6.4   51.6            82    68782
37 0.6        72.13     4.2   60.0            44    96184
38 1.0        70.43     6.1   50.2           126    44966
39 1.3        71.90     2.4   46.4           127     1049
40 2.3        67.96    11.6   37.8            65    30225
41 0.5        72.08     1.7   53.3           172    75955
42 1.7        70.11    11.0   41.8            70    41328
43 2.2        70.90    12.2   47.4            35   262134
44 0.6        72.90     4.5   67.3           137    82096
45 0.6        71.64     5.5   57.1           168     9267
46 1.4        70.08     9.5   47.8            85    39780
47 0.6        71.72     4.3   63.5            32    66570
48 1.4        69.48     6.7   41.6           100    24070
49 0.7        72.48     3.0   54.5           149    54464
50 0.6        70.29     6.9   62.9           173    97203

In [35]:
head(state_info, 10) # Default is 6

   X           state.abb state.area state.region population income illiteracy
1  Alabama     AL         51609     2             3615      3624   2.1
2  Alaska      AK        589757     4              365      6315   1.5
3  Arizona     AZ        113909     4             2212      4530   1.8
4  Arkansas    AR         53104     2             2110      3378   1.9
5  California  CA        158693     4            21198      5114   1.1
6  Colorado    CO        104247     4             2541      4884   0.7
7  Connecticut CT          5009     1             3100      5348   1.1
8  Delaware    DE          2057     2              579      4809   0.9
9  Florida     FL         58560     2             8277      4815   1.3
10 Georgia     GA         58876     2             4931      4091   2.0
   life.exp murder highSchoolGrad frost area
1  69.05    15.1   41.3            20    50708
2  69.31    11.3   66.7           152   566432
3  70.55     7.8   58.1            15   113417
4  70.66    10.1   39.9            65    51945
5  71.71    10.3   62.6            20   156361
6  72.06     6.8   63.9           166   103766
7  72.48     3.1   56.0           139     4862
8  70.06     6.2   54.6           103     1982
9  70.66    10.7   52.6            11    54090
10 68.54    13.9   40.6            60    58073

In [36]:
tail(state_info, )

   X             state.abb state.area state.region population income illiteracy
45 Vermont       VT         9609      1             472       3907   0.6
46 Virginia      VA        40815      2            4981       4701   1.4
47 Washington    WA        68192      4            3559       4864   0.6
48 West Virginia WV        24181      2            1799       3617   1.4
49 Wisconsin     WI        56154      3            4589       4468   0.7
50 Wyoming       WY        97914      4             376       4566   0.6
   life.exp murder highSchoolGrad frost area
45 71.64    5.5    57.1           168    9267
46 70.08    9.5    47.8            85   39780
47 71.72    4.3    63.5            32   66570
48 69.48    6.7    41.6           100   24070
49 72.48    3.0    54.5           149   54464
50 70.29    6.9    62.9           173   97203

In [37]:
names(state_info)

 [1] "X"              "state.abb"      "state.area"     "state.region"
 [5] "population"     "income"         "illiteracy"     "life.exp"
 [9] "murder"         "highSchoolGrad" "frost"          "area"

In [38]:
str(state_info) # Structure

'data.frame':	50 obs. of  12 variables:
 $ X             : Factor w/ 50 levels "Alabama","Alaska",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ state.abb     : Factor w/ 50 levels "AK","AL","AR",..: 2 1 4 3 5 6 7 8 9 10 ...
 $ state.area    : int  51609 589757 113909 53104 158693 104247 5009 2057 58560 58876 ...
 $ state.region  : int  2 4 4 2 4 4 1 2 2 2 ...
 $ population    : int  3615 365 2212 2110 21198 2541 3100 579 8277 4931 ...
 $ income        : int  3624 6315 4530 3378 5114 4884 5348 4809 4815 4091 ...
 $ illiteracy    : num  2.1 1.5 1.8 1.9 1.1 0.7 1.1 0.9 1.3 2 ...
 $ life.exp      : num  69 69.3 70.5 70.7 71.7 ...
 $ murder        : num  15.1 11.3 7.8 10.1 10.3 6.8 3.1 6.2 10.7 13.9 ...
 $ highSchoolGrad: num  41.3 66.7 58.1 39.9 62.6 63.9 56 54.6 52.6 40.6 ...
 $ frost         : int  20 152 15 65 20 166 139 103 11 60 ...
 $ area          : int  50708 566432 113417 51945 156361 103766 4862 1982 54090 58073 ...

In [39]:
dim(state_info) # Dimension

[1] 50 12

In [40]:
row.names(state_info)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20" "21" "22" "23" "24" "25" "26" "27" "28" "29" "30"
[31] "31" "32" "33" "34" "35" "36" "37" "38" "39" "40" "41" "42" "43" "44" "45"
[46] "46" "47" "48" "49" "50"

In [ ]:
row.names(state_info) <- c()