# R Basics

This is a note for the basics of R, an awesome language for data analysis. Here are some sample data I am going to use:

* stateData.csv: It contains information of all states in US.

## Table of Content

* [Working Directory](# working-directory)

## Working Directory

Before working on any projects, you may want to set up a correct working directory. It is very simple to check the current working directory and change it.

In [1]:
getwd()

[1] "/Users/guanrongfu/r-practice/lesson2"

In [3]:
setwd('~/r-practice/lesson3')
getwd()

[1] "/Users/guanrongfu/r-practice/lesson3"

## DataFrame

DataFrame is a data format in R. It has rows and columns, just like Excel files. You can easily get dataframe by reading a .csv file into R. I am going to use 'stateData.csv' file for the following notes.

In [5]:
state_info = read.csv('stateData.csv')

In [7]:
head(state_info, 10) # Default is 6

   X           state.abb state.area state.region population income illiteracy
1  Alabama     AL         51609     2             3615      3624   2.1
2  Alaska      AK        589757     4              365      6315   1.5
3  Arizona     AZ        113909     4             2212      4530   1.8
4  Arkansas    AR         53104     2             2110      3378   1.9
5  California  CA        158693     4            21198      5114   1.1
6  Colorado    CO        104247     4             2541      4884   0.7
7  Connecticut CT          5009     1             3100      5348   1.1
8  Delaware    DE          2057     2              579      4809   0.9
9  Florida     FL         58560     2             8277      4815   1.3
10 Georgia     GA         58876     2             4931      4091   2.0
   life.exp murder highSchoolGrad frost area
1  69.05    15.1   41.3            20    50708
2  69.31    11.3   66.7           152   566432
3  70.55     7.8   58.1            15   113417
4  70.66    10.1   39.9            65    51945
5  71.71    10.3   62.6            20   156361
6  72.06     6.8   63.9           166   103766
7  72.48     3.1   56.0           139     4862
8  70.06     6.2   54.6           103     1982
9  70.66    10.7   52.6            11    54090
10 68.54    13.9   40.6            60    58073

In [8]:
tail(state_info, )

   X             state.abb state.area state.region population income illiteracy
45 Vermont       VT         9609      1             472       3907   0.6
46 Virginia      VA        40815      2            4981       4701   1.4
47 Washington    WA        68192      4            3559       4864   0.6
48 West Virginia WV        24181      2            1799       3617   1.4
49 Wisconsin     WI        56154      3            4589       4468   0.7
50 Wyoming       WY        97914      4             376       4566   0.6
   life.exp murder highSchoolGrad frost area
45 71.64    5.5    57.1           168    9267
46 70.08    9.5    47.8            85   39780
47 71.72    4.3    63.5            32   66570
48 69.48    6.7    41.6           100   24070
49 72.48    3.0    54.5           149   54464
50 70.29    6.9    62.9           173   97203

In [9]:
str(state_info)

'data.frame':	50 obs. of  12 variables:
 $ X             : Factor w/ 50 levels "Alabama","Alaska",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ state.abb     : Factor w/ 50 levels "AK","AL","AR",..: 2 1 4 3 5 6 7 8 9 10 ...
 $ state.area    : int  51609 589757 113909 53104 158693 104247 5009 2057 58560 58876 ...
 $ state.region  : int  2 4 4 2 4 4 1 2 2 2 ...
 $ population    : int  3615 365 2212 2110 21198 2541 3100 579 8277 4931 ...
 $ income        : int  3624 6315 4530 3378 5114 4884 5348 4809 4815 4091 ...
 $ illiteracy    : num  2.1 1.5 1.8 1.9 1.1 0.7 1.1 0.9 1.3 2 ...
 $ life.exp      : num  69 69.3 70.5 70.7 71.7 ...
 $ murder        : num  15.1 11.3 7.8 10.1 10.3 6.8 3.1 6.2 10.7 13.9 ...
 $ highSchoolGrad: num  41.3 66.7 58.1 39.9 62.6 63.9 56 54.6 52.6 40.6 ...
 $ frost         : int  20 152 15 65 20 166 139 103 11 60 ...
 $ area          : int  50708 566432 113417 51945 156361 103766 4862 1982 54090 58073 ...