# R Basics

This is a note for the basics of R, an awesome language for data analysis. Here are some sample data I am going to use:

* stateData.csv: It contains information of all states in US.
* reddit.csv: It contains the survey results from reddit.com

## Table of Content

* [R Markdown](#r-markdown)
* [Working Directory](#working-directory)
* [Vector](#vector)
* [DataFrame](#dataframe)
* [Statistical Calculation](#statistical-calculation)

---

<a id = 'r-markdown'></a>
## R Markdown

R markdown is a very effective way to documente what you have wrote and share with others. The syntax is very similar to normal markdown. In RStudio, you can export .Rmd file into .html file through `KNIT HTML` button. You need to install and load `knitr` package first.

```{r}
install.packages('knitr', dependencies = T)
library(knitr)
```

References:

* [R Markdown Reference Guide](https://www.rstudio.com/wp-content/uploads/2015/03/rmarkdown-reference.pdf)
* [R Markdown Cheetsheet](https://www.rstudio.com/wp-content/uploads/2016/03/rmarkdown-cheatsheet-2.0.pdf)
---

<a id='working-directory'></a>
## Working Directory

Before working on any projects, you may want to set up a correct working directory. It is very simple to check the current working directory and change it.

In [1]:
getwd()

[1] "/Users/guanrongfu/GitHub/Toolkit/R"

In [2]:
setwd('..')
getwd()

[1] "/Users/guanrongfu/GitHub/Toolkit"

---

<a id = 'vector'></a>
## Vector

Vector is one of the data types in R. It looks like Python list, but it must contain the same type of data: character (string), logical (True or False) or numeric.

`c()` is a generic function that combines arguments to form a vector.

In [3]:
number <- c(1:10)
number

 [1]  1  2  3  4  5  6  7  8  9 10

You can add value to a vector as well.

In [4]:
number <- c(number, 11:20)
number

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

You can select the value in a vector you want based on some boolean calculation, similar to Python Pandas Series.

In [5]:
name <- c('Amanda', 'Bob', 'Chris')

In [6]:
name_length = nchar(name)
name_length

[1] 6 3 5

In [7]:
name[name_length == 3]

[1] "Bob"

You need to be careful that you don't bring in too much data into R at once since R will hold all the data in working memory. You can delete some variables.

In [8]:
rm(name_length)

---

<a id = 'matrices'></a>
## Matrices

Matrices is like a numpy two-dimensional array. All columns in a matrix must have the same mode (numberic, character, etc.) and the same length. The general format is:

my_matrix <- matrix(vector, nrow=r, ncol=c, byrow=FALSE, dimnames=list(char_vector_rownames, char_vector_colnames))

`byrow=FALSE` is the default choice, meaning the matrix should be filled by columns. `dimnames` provides optional labels for the columns and rows.

In [9]:
y <- matrix(1:20, nrow=5, ncol=4)
y

     [,1] [,2] [,3] [,4]
[1,] 1     6   11   16
[2,] 2     7   12   17
[3,] 3     8   13   18
[4,] 4     9   14   19
[5,] 5    10   15   20

In [10]:
cells <- c(1, 26, 24, 68)
rnames <- c('R1', 'R2')
cnames <- c('C1', 'C2')
new_matrix <- matrix(cells, nrow=2, ncol=2, byrow=TRUE, dimnames=list(rnames, cnames))
new_matrix

   C1 C2
R1  1 26
R2 24 68

Similar to numpy, you can use index to find the elements you are looking for. Just remember R is **NOT** zero indexing. The index starts from **1**.

In [11]:
y[, 4]

[1] 16 17 18 19 20

In [12]:
y[1, ]

[1]  1  6 11 16

In [13]:
y[1:2, 2:3]

     [,1] [,2]
[1,] 6    11
[2,] 7    12

---

<a id = 'arrays'></a>
## Arrays

Arrays are similar to matrices but can have more than two dimenstions.

---

<a id = 'dataframe'></a>
## Data Frame

Data Frame is another data format in R. It has rows and columns, just like Excel files. It is more general than a matrix, you can have different data types (numeric, character, etc.) in different columns.

In [14]:
d <- c(1, 2, 3, 4)
e <- c('red', 'white', 'red', NA)
f <- c(TRUE, TRUE, TRUE, FALSE)
mydata <- data.frame(d, e, f)
names(mydata) <- c('ID', 'Color', 'Passed')
mydata

  ID Color Passed
1 1  red    TRUE
2 2  white  TRUE
3 3  red    TRUE
4 4  NA    FALSE

Similar to Matrices, you can access the elements through indexing

In [15]:
mydata[1:2]

  ID Color
1 1  red
2 2  white
3 3  red
4 4  NA

In [16]:
mydata[c('ID', 'Passed')]

  ID Passed
1 1   TRUE
2 2   TRUE
3 3   TRUE
4 4  FALSE

In [17]:
mydata$Color

[1] red   white red   <NA>
Levels: red white

You can easily get data frame by reading a .csv file into R. I am going to use 'stateData.csv' file for the following notes.

In [6]:
state_info <- read.csv('stateData.csv')

### Overview of DataFrame

In [7]:
state_info

   X              state.abb state.area state.region population income
1  Alabama        AL         51609     2             3615      3624
2  Alaska         AK        589757     4              365      6315
3  Arizona        AZ        113909     4             2212      4530
4  Arkansas       AR         53104     2             2110      3378
5  California     CA        158693     4            21198      5114
6  Colorado       CO        104247     4             2541      4884
7  Connecticut    CT          5009     1             3100      5348
8  Delaware       DE          2057     2              579      4809
9  Florida        FL         58560     2             8277      4815
10 Georgia        GA         58876     2             4931      4091
11 Hawaii         HI          6450     4              868      4963
12 Idaho          ID         83557     4              813      4119
13 Illinois       IL         56400     3            11197      5107
14 Indiana        IN         36291     3             5313      4458
15 Iowa           IA         56290     3             2861      4628
16 Kansas         KS         82264     3             2280      4669
17 Kentucky       KY         40395     2             3387      3712
18 Louisiana      LA         48523     2             3806      3545
19 Maine          ME         33215     1             1058      3694
20 Maryland       MD         10577     2             4122      5299
21 Massachusetts  MA          8257     1             5814      4755
22 Michigan       MI         58216     3             9111      4751
23 Minnesota      MN         84068     3             3921      4675
24 Mississippi    MS         47716     2             2341      3098
25 Missouri       MO         69686     3             4767      4254
26 Montana        MT        147138     4              746      4347
27 Nebraska       NE         77227     3             1544      4508
28 Nevada         NV        110540     4              590      5149
29 New Hampshire  NH          9304     1              812      4281
30 New Jersey     NJ          7836     1             7333      5237
31 New Mexico     NM        121666     4             1144      3601
32 New York       NY         49576     1            18076      4903
33 North Carolina NC         52586     2             5441      3875
34 North Dakota   ND         70665     3              637      5087
35 Ohio           OH         41222     3            10735      4561
36 Oklahoma       OK         69919     2             2715      3983
37 Oregon         OR         96981     4             2284      4660
38 Pennsylvania   PA         45333     1            11860      4449
39 Rhode Island   RI          1214     1              931      4558
40 South Carolina SC         31055     2             2816      3635
41 South Dakota   SD         77047     3              681      4167
42 Tennessee      TN         42244     2             4173      3821
43 Texas          TX        267339     2            12237      4188
44 Utah           UT         84916     4             1203      4022
45 Vermont        VT          9609     1              472      3907
46 Virginia       VA         40815     2             4981      4701
47 Washington     WA         68192     4             3559      4864
48 West Virginia  WV         24181     2             1799      3617
49 Wisconsin      WI         56154     3             4589      4468
50 Wyoming        WY         97914     4              376      4566
   illiteracy life.exp murder highSchoolGrad frost area
1  2.1        69.05    15.1   41.3            20    50708
2  1.5        69.31    11.3   66.7           152   566432
3  1.8        70.55     7.8   58.1            15   113417
4  1.9        70.66    10.1   39.9            65    51945
5  1.1        71.71    10.3   62.6            20   156361
6  0.7        72.06     6.8   63.9           166   103766
7  1.1        72.48     3.1   56.0           139     4862
8  0.9        70.06     6.2   54.6           103     1982
9  1.3        70.66    10.7   52.6            11    54090
10 2.0        68.54    13.9   40.6            60    58073
11 1.9        73.60     6.2   61.9             0     6425
12 0.6        71.87     5.3   59.5           126    82677
13 0.9        70.14    10.3   52.6           127    55748
14 0.7        70.88     7.1   52.9           122    36097
15 0.5        72.56     2.3   59.0           140    55941
16 0.6        72.58     4.5   59.9           114    81787
17 1.6        70.10    10.6   38.5            95    39650
18 2.8        68.76    13.2   42.2            12    44930
19 0.7        70.39     2.7   54.7           161    30920
20 0.9        70.22     8.5   52.3           101     9891
21 1.1        71.83     3.3   58.5           103     7826
22 0.9        70.63    11.1   52.8           125    56817
23 0.6        72.96     2.3   57.6           160    79289
24 2.4        68.09    12.5   41.0            50    47296
25 0.8        70.69     9.3   48.8           108    68995
26 0.6        70.56     5.0   59.2           155   145587
27 0.6        72.60     2.9   59.3           139    76483
28 0.5        69.03    11.5   65.2           188   109889
29 0.7        71.23     3.3   57.6           174     9027
30 1.1        70.93     5.2   52.5           115     7521
31 2.2        70.32     9.7   55.2           120   121412
32 1.4        70.55    10.9   52.7            82    47831
33 1.8        69.21    11.1   38.5            80    48798
34 0.8        72.78     1.4   50.3           186    69273
35 0.8        70.82     7.4   53.2           124    40975
36 1.1        71.42     6.4   51.6            82    68782
37 0.6        72.13     4.2   60.0            44    96184
38 1.0        70.43     6.1   50.2           126    44966
39 1.3        71.90     2.4   46.4           127     1049
40 2.3        67.96    11.6   37.8            65    30225
41 0.5        72.08     1.7   53.3           172    75955
42 1.7        70.11    11.0   41.8            70    41328
43 2.2        70.90    12.2   47.4            35   262134
44 0.6        72.90     4.5   67.3           137    82096
45 0.6        71.64     5.5   57.1           168     9267
46 1.4        70.08     9.5   47.8            85    39780
47 0.6        71.72     4.3   63.5            32    66570
48 1.4        69.48     6.7   41.6           100    24070
49 0.7        72.48     3.0   54.5           149    54464
50 0.6        70.29     6.9   62.9           173    97203

In [8]:
head(state_info, 10) # Default is 6

   X           state.abb state.area state.region population income illiteracy
1  Alabama     AL         51609     2             3615      3624   2.1
2  Alaska      AK        589757     4              365      6315   1.5
3  Arizona     AZ        113909     4             2212      4530   1.8
4  Arkansas    AR         53104     2             2110      3378   1.9
5  California  CA        158693     4            21198      5114   1.1
6  Colorado    CO        104247     4             2541      4884   0.7
7  Connecticut CT          5009     1             3100      5348   1.1
8  Delaware    DE          2057     2              579      4809   0.9
9  Florida     FL         58560     2             8277      4815   1.3
10 Georgia     GA         58876     2             4931      4091   2.0
   life.exp murder highSchoolGrad frost area
1  69.05    15.1   41.3            20    50708
2  69.31    11.3   66.7           152   566432
3  70.55     7.8   58.1            15   113417
4  70.66    10.1   39.9            65    51945
5  71.71    10.3   62.6            20   156361
6  72.06     6.8   63.9           166   103766
7  72.48     3.1   56.0           139     4862
8  70.06     6.2   54.6           103     1982
9  70.66    10.7   52.6            11    54090
10 68.54    13.9   40.6            60    58073

In [9]:
tail(state_info, )

   X             state.abb state.area state.region population income illiteracy
45 Vermont       VT         9609      1             472       3907   0.6
46 Virginia      VA        40815      2            4981       4701   1.4
47 Washington    WA        68192      4            3559       4864   0.6
48 West Virginia WV        24181      2            1799       3617   1.4
49 Wisconsin     WI        56154      3            4589       4468   0.7
50 Wyoming       WY        97914      4             376       4566   0.6
   life.exp murder highSchoolGrad frost area
45 71.64    5.5    57.1           168    9267
46 70.08    9.5    47.8            85   39780
47 71.72    4.3    63.5            32   66570
48 69.48    6.7    41.6           100   24070
49 72.48    3.0    54.5           149   54464
50 70.29    6.9    62.9           173   97203

In [10]:
names(state_info)

 [1] "X"              "state.abb"      "state.area"     "state.region"
 [5] "population"     "income"         "illiteracy"     "life.exp"
 [9] "murder"         "highSchoolGrad" "frost"          "area"

In [11]:
str(state_info) # Structure

'data.frame':	50 obs. of  12 variables:
 $ X             : Factor w/ 50 levels "Alabama","Alaska",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ state.abb     : Factor w/ 50 levels "AK","AL","AR",..: 2 1 4 3 5 6 7 8 9 10 ...
 $ state.area    : int  51609 589757 113909 53104 158693 104247 5009 2057 58560 58876 ...
 $ state.region  : int  2 4 4 2 4 4 1 2 2 2 ...
 $ population    : int  3615 365 2212 2110 21198 2541 3100 579 8277 4931 ...
 $ income        : int  3624 6315 4530 3378 5114 4884 5348 4809 4815 4091 ...
 $ illiteracy    : num  2.1 1.5 1.8 1.9 1.1 0.7 1.1 0.9 1.3 2 ...
 $ life.exp      : num  69 69.3 70.5 70.7 71.7 ...
 $ murder        : num  15.1 11.3 7.8 10.1 10.3 6.8 3.1 6.2 10.7 13.9 ...
 $ highSchoolGrad: num  41.3 66.7 58.1 39.9 62.6 63.9 56 54.6 52.6 40.6 ...
 $ frost         : int  20 152 15 65 20 166 139 103 11 60 ...
 $ area          : int  50708 566432 113417 51945 156361 103766 4862 1982 54090 58073 ...

In [12]:
dim(state_info) # Dimension

[1] 50 12

In [13]:
summary(state_info)

          X        state.abb    state.area      state.region    population
 Alabama   : 1   AK     : 1   Min.   :  1214   Min.   :1.00   Min.   :  365
 Alaska    : 1   AL     : 1   1st Qu.: 37317   1st Qu.:2.00   1st Qu.: 1080
 Arizona   : 1   AR     : 1   Median : 56222   Median :2.50   Median : 2838
 Arkansas  : 1   AZ     : 1   Mean   : 72368   Mean   :2.58   Mean   : 4246
 California: 1   CA     : 1   3rd Qu.: 83234   3rd Qu.:3.75   3rd Qu.: 4968
 Colorado  : 1   CO     : 1   Max.   :589757   Max.   :4.00   Max.   :21198
 (Other)   :44   (Other):44
     income       illiteracy       life.exp         murder
 Min.   :3098   Min.   :0.500   Min.   :67.96   Min.   : 1.400
 1st Qu.:3993   1st Qu.:0.625   1st Qu.:70.12   1st Qu.: 4.350
 Median :4519   Median :0.950   Median :70.67   Median : 6.850
 Mean   :4436   Mean   :1.170   Mean   :70.88   Mean   : 7.378
 3rd Qu.:4814   3rd Qu.:1.575   3rd Qu.:71.89   3rd Qu.:10.675
 Max.   :6315   Max.   :2.800   Max.   :73.60   Max.   :15.100

 highSchoolGrad      frost             area
 Min.   :37.80   Min.   :  0.00   Min.   :  1049
 1st Qu.:48.05   1st Qu.: 66.25   1st Qu.: 36985
 Median :53.25   Median :114.50   Median : 54277
 Mean   :53.11   Mean   :104.46   Mean   : 70736
 3rd Qu.:59.15   3rd Qu.:139.75   3rd Qu.: 81162
 Max.   :67.30   Max.   :188.00   Max.   :566432

### Rows

In [14]:
row.names(state_info)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20" "21" "22" "23" "24" "25" "26" "27" "28" "29" "30"
[31] "31" "32" "33" "34" "35" "36" "37" "38" "39" "40" "41" "42" "43" "44" "45"
[46] "46" "47" "48" "49" "50"

In [15]:
row.names(state_info) <- c(11:60)
state_info

   X              state.abb state.area state.region population income
11 Alabama        AL         51609     2             3615      3624
12 Alaska         AK        589757     4              365      6315
13 Arizona        AZ        113909     4             2212      4530
14 Arkansas       AR         53104     2             2110      3378
15 California     CA        158693     4            21198      5114
16 Colorado       CO        104247     4             2541      4884
17 Connecticut    CT          5009     1             3100      5348
18 Delaware       DE          2057     2              579      4809
19 Florida        FL         58560     2             8277      4815
20 Georgia        GA         58876     2             4931      4091
21 Hawaii         HI          6450     4              868      4963
22 Idaho          ID         83557     4              813      4119
23 Illinois       IL         56400     3            11197      5107
24 Indiana        IN         36291     3             5313      4458
25 Iowa           IA         56290     3             2861      4628
26 Kansas         KS         82264     3             2280      4669
27 Kentucky       KY         40395     2             3387      3712
28 Louisiana      LA         48523     2             3806      3545
29 Maine          ME         33215     1             1058      3694
30 Maryland       MD         10577     2             4122      5299
31 Massachusetts  MA          8257     1             5814      4755
32 Michigan       MI         58216     3             9111      4751
33 Minnesota      MN         84068     3             3921      4675
34 Mississippi    MS         47716     2             2341      3098
35 Missouri       MO         69686     3             4767      4254
36 Montana        MT        147138     4              746      4347
37 Nebraska       NE         77227     3             1544      4508
38 Nevada         NV        110540     4              590      5149
39 New Hampshire  NH          9304     1              812      4281
40 New Jersey     NJ          7836     1             7333      5237
41 New Mexico     NM        121666     4             1144      3601
42 New York       NY         49576     1            18076      4903
43 North Carolina NC         52586     2             5441      3875
44 North Dakota   ND         70665     3              637      5087
45 Ohio           OH         41222     3            10735      4561
46 Oklahoma       OK         69919     2             2715      3983
47 Oregon         OR         96981     4             2284      4660
48 Pennsylvania   PA         45333     1            11860      4449
49 Rhode Island   RI          1214     1              931      4558
50 South Carolina SC         31055     2             2816      3635
51 South Dakota   SD         77047     3              681      4167
52 Tennessee      TN         42244     2             4173      3821
53 Texas          TX        267339     2            12237      4188
54 Utah           UT         84916     4             1203      4022
55 Vermont        VT          9609     1              472      3907
56 Virginia       VA         40815     2             4981      4701
57 Washington     WA         68192     4             3559      4864
58 West Virginia  WV         24181     2             1799      3617
59 Wisconsin      WI         56154     3             4589      4468
60 Wyoming        WY         97914     4              376      4566
   illiteracy life.exp murder highSchoolGrad frost area
11 2.1        69.05    15.1   41.3            20    50708
12 1.5        69.31    11.3   66.7           152   566432
13 1.8        70.55     7.8   58.1            15   113417
14 1.9        70.66    10.1   39.9            65    51945
15 1.1        71.71    10.3   62.6            20   156361
16 0.7        72.06     6.8   63.9           166   103766
17 1.1        72.48     3.1   56.0           139     4862
18 0.9        70.06     6.2   54.6           103     1982
19 1.3        70.66    10.7   52.6            11    54090
20 2.0        68.54    13.9   40.6            60    58073
21 1.9        73.60     6.2   61.9             0     6425
22 0.6        71.87     5.3   59.5           126    82677
23 0.9        70.14    10.3   52.6           127    55748
24 0.7        70.88     7.1   52.9           122    36097
25 0.5        72.56     2.3   59.0           140    55941
26 0.6        72.58     4.5   59.9           114    81787
27 1.6        70.10    10.6   38.5            95    39650
28 2.8        68.76    13.2   42.2            12    44930
29 0.7        70.39     2.7   54.7           161    30920
30 0.9        70.22     8.5   52.3           101     9891
31 1.1        71.83     3.3   58.5           103     7826
32 0.9        70.63    11.1   52.8           125    56817
33 0.6        72.96     2.3   57.6           160    79289
34 2.4        68.09    12.5   41.0            50    47296
35 0.8        70.69     9.3   48.8           108    68995
36 0.6        70.56     5.0   59.2           155   145587
37 0.6        72.60     2.9   59.3           139    76483
38 0.5        69.03    11.5   65.2           188   109889
39 0.7        71.23     3.3   57.6           174     9027
40 1.1        70.93     5.2   52.5           115     7521
41 2.2        70.32     9.7   55.2           120   121412
42 1.4        70.55    10.9   52.7            82    47831
43 1.8        69.21    11.1   38.5            80    48798
44 0.8        72.78     1.4   50.3           186    69273
45 0.8        70.82     7.4   53.2           124    40975
46 1.1        71.42     6.4   51.6            82    68782
47 0.6        72.13     4.2   60.0            44    96184
48 1.0        70.43     6.1   50.2           126    44966
49 1.3        71.90     2.4   46.4           127     1049
50 2.3        67.96    11.6   37.8            65    30225
51 0.5        72.08     1.7   53.3           172    75955
52 1.7        70.11    11.0   41.8            70    41328
53 2.2        70.90    12.2   47.4            35   262134
54 0.6        72.90     4.5   67.3           137    82096
55 0.6        71.64     5.5   57.1           168     9267
56 1.4        70.08     9.5   47.8            85    39780
57 0.6        71.72     4.3   63.5            32    66570
58 1.4        69.48     6.7   41.6           100    24070
59 0.7        72.48     3.0   54.5           149    54464
60 0.6        70.29     6.9   62.9           173    97203

### Columns

In [16]:
state_info$state.abb

 [1] AL AK AZ AR CA CO CT DE FL GA HI ID IL IN IA KS KY LA ME MD MA MI MN MS MO
[26] MT NE NV NH NJ NM NY NC ND OH OK OR PA RI SC SD TN TX UT VT VA WA WV WI WY
50 Levels: AK AL AR AZ CA CO CT DE FL GA HI IA ID IL IN KS KY LA MA MD ... WY

In [17]:
state_info$population

 [1]  3615   365  2212  2110 21198  2541  3100   579  8277  4931   868   813
[13] 11197  5313  2861  2280  3387  3806  1058  4122  5814  9111  3921  2341
[25]  4767   746  1544   590   812  7333  1144 18076  5441   637 10735  2715
[37]  2284 11860   931  2816   681  4173 12237  1203   472  4981  3559  1799
[49]  4589   376

You can add new column and assign value to that column.

In [18]:
state_info$college <- c(1, 2)
head(state_info)

   X          state.abb state.area state.region population income illiteracy
11 Alabama    AL         51609     2             3615      3624   2.1
12 Alaska     AK        589757     4              365      6315   1.5
13 Arizona    AZ        113909     4             2212      4530   1.8
14 Arkansas   AR         53104     2             2110      3378   1.9
15 California CA        158693     4            21198      5114   1.1
16 Colorado   CO        104247     4             2541      4884   0.7
   life.exp murder highSchoolGrad frost area   college
11 69.05    15.1   41.3            20    50708 1
12 69.31    11.3   66.7           152   566432 2
13 70.55     7.8   58.1            15   113417 1
14 70.66    10.1   39.9            65    51945 2
15 71.71    10.3   62.6            20   156361 1
16 72.06     6.8   63.9           166   103766 2

You can drop a column as well.

In [19]:
state_info <- subset(state_info, select = -college)
head(state_info)

   X          state.abb state.area state.region population income illiteracy
11 Alabama    AL         51609     2             3615      3624   2.1
12 Alaska     AK        589757     4              365      6315   1.5
13 Arizona    AZ        113909     4             2212      4530   1.8
14 Arkansas   AR         53104     2             2110      3378   1.9
15 California CA        158693     4            21198      5114   1.1
16 Colorado   CO        104247     4             2541      4884   0.7
   life.exp murder highSchoolGrad frost area
11 69.05    15.1   41.3            20    50708
12 69.31    11.3   66.7           152   566432
13 70.55     7.8   58.1            15   113417
14 70.66    10.1   39.9            65    51945
15 71.71    10.3   62.6            20   156361
16 72.06     6.8   63.9           166   103766

### Get subset of a Data Frame

Sometimes, it is not enough to only get rows or columns. You may want to get a subset of a Data Frame as well. There are two ways to achieve it:

* subset(dataframe, condition)
* dataframe[rows, columns]

In [32]:
subset(state_info, income > 5000 & population > 10000, 2:5)

   state.abb state.area state.region population
15 CA        158693     4            21198
23 IL         56400     3            11197

In [33]:
state_info[state_info$population > 10000, ]

   X            state.abb state.area state.region population income illiteracy
15 California   CA        158693     4            21198      5114   1.1
23 Illinois     IL         56400     3            11197      5107   0.9
42 New York     NY         49576     1            18076      4903   1.4
45 Ohio         OH         41222     3            10735      4561   0.8
48 Pennsylvania PA         45333     1            11860      4449   1.0
53 Texas        TX        267339     2            12237      4188   2.2
   life.exp murder highSchoolGrad frost area
15 71.71    10.3   62.6            20   156361
23 70.14    10.3   52.6           127    55748
42 70.55    10.9   52.7            82    47831
45 70.82     7.4   53.2           124    40975
48 70.43     6.1   50.2           126    44966
53 70.90    12.2   47.4            35   262134

---

<a id = 'lists'></a>
## Lists

Similar to Python lists, lists in R are an ordered collections of objects. It can contains various data type.

In [34]:
a <- c(1, 2, 5.3, 6, -2, 4)
y <- matrix(1:20, nrow=5, ncol=4)

li <- list(name='Fred', mynumbers=a, mymatrix=y, age=5.3)
li

$name
[1] "Fred"

$mynumbers
[1]  1.0  2.0  5.3  6.0 -2.0  4.0

$mymatrix
     [,1] [,2] [,3] [,4]
[1,]    1    6   11   16
[2,]    2    7   12   17
[3,]    3    8   13   18
[4,]    4    9   14   19
[5,]    5   10   15   20

$age
[1] 5.3

You can identify elements of a list using the `[[]]` convention.

In [35]:
li[[2]]

[1]  1.0  2.0  5.3  6.0 -2.0  4.0

In [36]:
li[['age']]

[1] 5.3

<a id = 'factors'></a>
## Factors

When making a variable a factor, you tell R that the variable is nominal. The factor stores the nominal values as a vector of integers in range [1, k], and an internal vector of character strings mapped to these integers.

In [37]:
gender <- c(rep('male', 20), rep('female', 30))
gender

 [1] "male"   "male"   "male"   "male"   "male"   "male"   "male"   "male"
 [9] "male"   "male"   "male"   "male"   "male"   "male"   "male"   "male"
[17] "male"   "male"   "male"   "male"   "female" "female" "female" "female"
[25] "female" "female" "female" "female" "female" "female" "female" "female"
[33] "female" "female" "female" "female" "female" "female" "female" "female"
[41] "female" "female" "female" "female" "female" "female" "female" "female"
[49] "female" "female"

In [38]:
gender <- factor(gender)
gender

 [1] male   male   male   male   male   male   male   male   male   male
[11] male   male   male   male   male   male   male   male   male   male
[21] female female female female female female female female female female
[31] female female female female female female female female female female
[41] female female female female female female female female female female
Levels: female male

There is no obvious differences other than the remove of "''", but internally, R stores gender as 20 1s and 30 2s and associates 1=female, 2=male (alphabetically). R now treats gender as a nominal variable.

An ordered factor is used to represent an ordinal variable. R will treat factors as nominal variables and ordered factors as ordinal variables in statistical proceedures and graphical analyses. You can use options in the factor() and ordered() functions to control the mapping of integers to strings (overiding the alphabetical ordering). You can also use factors to create value labels.

To illustrate, I am going to use 'reddit.csv' as an example. It contains the survey results from reddit.com.

In [22]:
reddit <- read.csv('reddit.csv')
head(reddit)

  id gender age.range marital.status
1 1  0      25-34     NA
2 2  0      25-34     NA
3 3  1      18-24     NA
4 4  0      25-34     NA
5 5  1      25-34     NA
6 6  0      25-34     Married/civil union/domestic partnership
  employment.status  military.service children education         country
1 Employed full time NA               No       Bachelor's degree United States
2 Employed full time NA               No       Bachelor's degree United States
3 Freelance          NA               No       Some college      United States
4 Freelance          NA               No       Bachelor's degree United States
5 Employed full time NA               No       Bachelor's degree United States
6 Employed full time No               No       Bachelor's degree United States
  state      income.range      fav.reddit    dog.cat      cheese
1 New York   $150,000 or more  getmotivated  NA           NA
2 New York   $150,000 or more  gaming        NA           NA
3 Virginia   Under $20,000     snackexchange NA           NA
4 New York   $150,000 or more  spacedicks    NA           NA
5 California $70,000 - $99,999 aww           NA           NA
6 New York   $150,000 or more  gaming        I like dogs. Cheddar

In [24]:
table(reddit$employment.status) # count each factors

                   Employed full time                             Freelance
                                14814                                  1948
Not employed and not looking for work    Not employed, but looking for work
                                  682                                  2087
                              Retired                               Student
                                   85                                 12987

In [26]:
str(reddit)

'data.frame':	32754 obs. of  14 variables:
 $ id               : int  1 2 3 4 5 6 7 8 9 10 ...
 $ gender           : int  0 0 1 0 1 0 0 0 0 0 ...
 $ age.range        : Factor w/ 7 levels "18-24","25-34",..: 2 2 1 2 2 2 2 1 3 2 ...
 $ marital.status   : Factor w/ 6 levels "Engaged","Forever Alone",..: NA NA NA NA NA 4 3 4 4 3 ...
 $ employment.status: Factor w/ 6 levels "Employed full time",..: 1 1 2 2 1 1 1 4 1 2 ...
 $ military.service : Factor w/ 2 levels "No","Yes": NA NA NA NA NA 1 1 1 1 1 ...
 $ children         : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ education        : Factor w/ 7 levels "Associate degree",..: 2 2 5 2 2 2 5 2 2 5 ...
 $ country          : Factor w/ 439 levels " Canada"," Canada eh",..: 394 394 394 394 394 394 125 394 394 125 ...
 $ state            : Factor w/ 53 levels "","Alabama","Alaska",..: 33 33 48 33 6 33 1 6 33 1 ...
 $ income.range     : Factor w/ 8 levels "$100,000 - $149,999",..: 2 2 8 2 7 2 NA 7 2 7 ...
 $ fav.reddit       : Factor w/ 1834 levels "","___","-","?",..: 720 691 1511 1528 188 691 1318 571 1629 1 ...
 $ dog.cat          : Factor w/ 3 levels "I like cats.",..: NA NA NA NA NA 2 2 2 1 1 ...
 $ cheese           : Factor w/ 11 levels "American","Brie",..: NA NA NA NA NA 3 3 1 10 7 ...

In [27]:
levels(reddit$age.range)

[1] "18-24"       "25-34"       "35-44"       "45-54"       "55-64"
[6] "65 or Above" "Under 18"

---

<a id = 'basic-functions'></a>
## Basic Functions

In [39]:
length(gender)

[1] 50

In [40]:
str(gender)

 Factor w/ 2 levels "female","male": 2 2 2 2 2 2 2 2 2 2 ...

In [41]:
class(gender)

[1] "factor"

In [42]:
class(state_info)

[1] "data.frame"

In [43]:
names(state_info)

 [1] "X"              "state.abb"      "state.area"     "state.region"
 [5] "population"     "income"         "illiteracy"     "life.exp"
 [9] "murder"         "highSchoolGrad" "frost"          "area"

In [44]:
c(1, 2, 3) # vector

[1] 1 2 3

In [45]:
cbind(1, 2, 3) # column

     [,1] [,2] [,3]
[1,] 1    2    3

In [46]:
rbind(1, 2, 3) # row

     [,1]
[1,] 1
[2,] 2
[3,] 3

In [47]:
ls() # list all objects

 [1] "a"          "cells"      "cnames"     "d"          "e"
 [6] "f"          "gender"     "li"         "mydata"     "name"
[11] "new_matrix" "number"     "rnames"     "state_info" "y"

In [48]:
rm(y) # remove an object

<a id = 'statistical-calculation'></a>
## Statistical Calculation

In [48]:
mean(state_info$population)

[1] 4246.42